# Python Virtual Environment
/venv

# Build
/build
/dist

# Data
/data
*empdat.db*

# IDE-related folders
/.idea

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Extra stuff
*.DS_Store*